@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');

.d-flex {
  display: flex;
}
.text-white {
  color: #dfdfdf;
}
.jc-center {
  justify-content: center;
}
.ai-center {
  align-items: center;
}

html {
  background-color: #121212;
}

#root {
  height: 100vh;
  width: 100vw;
  background-color: #121212;
}
.App {
  height: 100vh;
  background-color: #121212;
  text-align: center;
  min-width: 240px;
  max-width: 1280px;
  margin: auto;

  color: #dfdfdf;
  font-family: 'Montserrat';
}

h1 {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 32pt;
}

header {
  padding: 20px 0px 20px 0px;
}

header img {
  height: 34px;
  width: 34px;
}

header .header-company-name {
  color: #dfdfdf;
  font-weight: 200;
  font-size: 24px;
  margin-left: 12px;
}

.standalone_number_metric {
  font-size: 72;
  margin-top: 12px;
  line-break: normal;
}
